/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin and padding
*/
* {
  margin: 0;
  padding: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: 'Nixie';
  src: url('../fonts/Nixie_One/NixieOne-Regular.ttf');
}

@font-face {
  font-family: 'AlegreyaSC';
  src: url('../fonts/Alegreya_SC/AlegreyaSC-Regular.ttf');
}

@font-face {
  font-family: 'AlegreyaSans';
  src: url('../fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf');
}

:root {
  /* colors */
  --clr-black: #000;
  --clr-white: #fff;
  --clr-headline: #3a4f52;
  --clr-text: #6a6a6a;
  --clr-footer: #2b3e51;

  /* fontsizes */
  --fonts-strd: 1rem;
  --fonts-s: 1.5rem;
  --font-m: 2rem;
  --font-l: 2.25rem;
  --font-xl: 3.5rem;

  /* spaces */
  --new-content-s: 3.75rem;
  --new-content-m: 5.5rem;
  --side-space: 9.5rem;
  --space-text: 1rem;
  --side-space-ipad: 2rem;
  --side-space-iphone: 1rem;
}

/* #GENERAL STYLINGS */

a {
  text-decoration: none;
  color: #000;
}

h2 {
  font-size: var(--font-xl);
  font-family: 'Nixie';
  color: var(--clr-white);
  max-width: 800px;
}

h3 {
  font-size: var(--font-l);
  font-family: 'AlegreyaSans', sans-serif;
  color: var(--clr-headline);
  font-weight: 500;
}

h4 {
  font-family: 'AlegreyaSans', sans-serif;
  font-size: var(--font-l);
  font-weight: 300;
  color: var(--clr-white);
  margin: var(--space-text) 0;
}

p {
  font-size: var(--fonts-strd);
  font-family: 'Helvetica' sans-serif;
  color: var(--clr-text);
  margin: var(--space-text) 0;
}

a {
  color: var(--clr-white);
  font-family: 'AlegreyaSC', sans-serif;
  font-size: var(--font-m);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.flex {
  display: flex;
  flex-direction: column;
  padding: 0 var(--side-space);
  margin-bottom: var(--new-content-s);
}

.parallax__window {
  background-color: #00000040;
  padding-bottom: 40px;
  text-align: center;
  padding: 5%;

  > div p {
    color: var(--clr-white);
  }
}
.parallax__headline {
  text-align: center;
  margin-bottom: var(--new-content-s);
  max-height: 500px;
}

img:not(.service, .image__customer) {
  width: 100%;
}

.headline__section {
  display: flex;
  justify-content: space-between;

  > div p {
    font-size: var(--fonts-strd);
    color: var(--clr-text);
    margin-top: var(--space-text);
    margin-bottom: var(--new-content-s);
  }
}

.view__all__btn {
  font-size: var(--fonts-s);
  color: var(--clr-text);
  border: solid 1px var(--clr-text);
  padding: 10px 20px;
  padding: 0.8vh;
  transition: ease-in-out 1s;
}
.view__btn__container {
  margin-top: 20px;
}

.section__blog,
.section__gallery,
.section__testimonials,
.section__lorem {
  padding: var(--new-content-s) var(--side-space);
}

/* #BURGER MENU */

.hamburger {
  background-color: var(--clr-white);
  border-radius: 4px;
  height: 3px;
  margin-top: 10px;
  position: relative;
  width: 25px;
}

.hamburger::before {
  background-color: var(--clr-white);
  border-radius: 4px;
  content: ' ';
  height: 3px;
  position: absolute;
  top: -8px;
  width: 25px;
}

.hamburger::after {
  background-color: var(--clr-white);
  border-radius: 4px;
  content: ' ';
  height: 3px;
  position: absolute;
  top: 8px;
  width: 25px;
}

/* #HEADER */

header {
  background: center / cover no-repeat url('../img/header.png');
  height: 100vh;
  position: relative;

  > .navbar__top {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    align-items: center;
  }

  & article {
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    > p {
      color: var(--clr-white);
    }
  }
}

/* #GALLERY */

a .gallery__img__container {
  position: relative;
  overflow: hidden;
  width: 100%;

  > img {
    transition: transform 1s;
  }
}

.image__tooltip {
  position: absolute;
  top: 100%;
  bottom: 0;
  background-color: rgba(2, 56, 58, 0.7);
  width: 100%;
  overflow: hidden;
  transition: 0.3s ease;
  display: none;

  > p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--clr-white);
    border: solid var(--clr-white) 1px;
    padding: 1vh 2vh;
  }
}

/* #SECTION SERVICE */

.section__service {
  background: center / cover no-repeat url('../img/yellowseat.png');
  background-attachment: fixed;
  padding: 5%;
}

.services {
  display: flex;
  gap: 50px;

  > div img {
    margin: 0 auto;
  }
}

/* #SECTION BLOG */

.blog__link {
  color: #4da7ca;
  font-size: var(--fonts-s);

  &:hover {
    text-decoration: underline;
  }
}

/* #SECTION LOREM*/

.section__lorem {
  background: center / cover no-repeat url('../img/parallax2.png');
  background-attachment: fixed;
  color: var(--clr-white);
  margin-bottom: var(--new-content-m);
  padding: 2% 10%;
}

/* #SECTION CUSTOMERS */

.customer__headline {
  text-align: center;
  margin-bottom: var(--new-content-s);
}

.customers__section div {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin: 0 auto;

  > img {
    width: 60%;
    margin: 0 auto;
  }
}

span {
  display: block;
  font-weight: 800;
}

/* #SECTION CONTACT */

.section__contact {
  background: center / cover no-repeat url('../img/parallax3.png');
  background-attachment: fixed;
  padding: 5%;
}

form {
  margin: 0 auto;
  gap: 10px;
  display: flex;
  flex-direction: column;
  max-width: 50%;
  padding: 5px 5px;
}

input,
textarea {
  border: solid var(--clr-white) 1px;
  border-radius: 5px;
  background-color: transparent;
  max-height: 10vh;
}

input::placeholder,
textarea::placeholder {
  color: var(--clr-white);
  padding-left: 10px;
}

/* #FOOTER */

footer {
  background-color: var(--clr-footer);
  min-height: 20vh;
  display: flex;
  align-items: center;

  > .copyright {
    color: var(--clr-white);
    padding-left: var(--side-space);
  }
}

/* #EFFECTS */

.view__all__btn:hover {
  background-color: var(--clr-footer);
  transition-delay: 0.2s;
  transition: ease-in-out 1s;
  color: var(--clr-white);
}

.gallery__img__container:hover .image__tooltip {
  top: 0;
  display: block;
}

.gallery__img__container:hover img {
  transform: scale(1.5);
}

.btn {
  transition: linear 1s;
  max-width: 100px;
  background: transparent;
  color: var(--clr-white);
  border: solid var(--clr-white) 1px;
  padding: 0.5rem 1rem;
  margin: 0 auto;
}

.btn:hover {
  background-color: var(--clr-white);
  color: var(--clr-black);
}

/* #MEDIA */

/* Ipad-Breakpoint */

@media screen and (max-width: 820px) {
  .section__blog,
  .section__gallery,
  .section__testimonials,
  .section__lorem {
    padding: var(--new-content-s) var(--side-space-ipad);
  }

  h2 {
    min-width: 31.25rem;
  }

  .section__service {
    background-attachment: initial;
  }

  .services {
    flex-direction: column;
  }

  .section__lorem {
    background-attachment: initial;
  }

  .customers__section {
    grid-template-columns: 1fr;
    > div {
      margin-bottom: 3.125rem;
    }
  }

  .section__contact {
    background-attachment: initial;
  }

  form {
    display: flex;
    flex-direction: column;
    min-width: 90%;
  }
}

/* Iphone-Breakpoint */

@media screen and (max-width: 414px) {
  .section__blog,
  .section__gallery,
  .section__testimonials,
  .section__lorem {
    padding-inline: var(--side-space-iphone);
  }

  .view__all__btn {
    font-size: var(--fonts-strd);
  }

  header {
    max-height: 70vh;

    > .navbar__top h1 {
      font-size: var(--font-l);
    }

    > article {
      width: 350px;
      > h2 {
        font-size: var(--font-l);
        min-width: 300px;
      }
    }
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .image__tooltip {
    display: block;
    top: 0;
  }

  footer {
    align-items: flex-start;
    > .copyright {
      padding-left: var(--space-text);
    }
  }
}
